{{!< main}}

<!-- Homepage Search Bar -->
<div id="homepage-search-container">
  <form id="homepage-search-form" method="GET" action="/search">
    <input
      id="homepage-search-input"
      type="text"
      name="query"
      placeholder="Search..."
      aria-label="Search"
    />
    <button id="homepage-search-button" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>


<link rel="stylesheet" href="/styles/homepage.css">